:root {
  --primary-font-family: 'Roboto', sans-serif;
  --secondary-font-family: 'Raleway', sans-serif;
  --text-color: #757575;
  --primary-white: #ffffff;
  --secondary-white: rgba(255, 255, 255, 0.6);
  --primary-dark-color: #212121;
  --logo-accent-color: #000000;
  --primary-accent-color: #2196f3;

  --primary-background-color: #2f303a;
  --secondary-background-color: #f5f4fa;
  --primary-border-color: 1px solid #ececec;
  --overlay-colour: rgba(47, 48, 58, 0.4);

  --social-icon-background: rgba(255, 255, 255, 0.1);

  --btn-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  --card-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  --secondary-btn-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

body {
  font-family: var(--primary-font-family);
  font-weight: 400;
  font-size: 14px;
  color: var(--text-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* ========== HEADER ========== */
.page-header {
  padding-top: 24px;
  padding-bottom: 24px;

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  border-bottom: var(--primary-border-color);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation {
  display: flex;
  align-items: center;
}

.logo {
  font-family: var(--secondary-font-family);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--primary-accent-color);
}

.header-logo-accent {
  color: var(--logo-accent-color);
}

.menu {
  display: flex;
  align-items: center;
  margin-left: 92px;
}

.menu-item:not(:last-child) {
  margin-right: 50px;
}

.nav-link {
  color: var(--primary-dark-color);
}

.nav-link.current {
  color: var(--primary-accent-color);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--primary-accent-color);
}

.contact-list {
  display: flex;
  align-items: center;
}

.contact-item:not(:last-child) {
  margin-right: 50px;
}

.contact-link {
  color: var(--text-color);
}

.contact-link:hover,
.contact-link:focus {
  color: var(--primary-accent-color);
}

/* ========= END HEADER ========= */

/* ============ HERO ============ */
.hero {
  padding-top: 200px;
  padding-bottom: 200px;

  background-color: var(--primary-background-color);
}

.hero-title {
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white);
}

.hero-button {
  display: block;
  padding: 10px 32px;
  border: none;
  border-radius: 4px;
  margin-right: auto;
  margin-left: auto;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--primary-white);

  background-color: var(--primary-accent-color);
  box-shadow: var(--btn-shadow);
  cursor: pointer;
}
/* ========== END HERO ========= */

/* ========= FEATURES ========= */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.features {
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.features-list {
  display: flex;
}

.features-item {
  width: 270px;
}

.features-item:not(:last-child) {
  margin-right: 30px;
}

.features-title {
  margin-bottom: 10px;

  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-dark-color);
}
/* ========= END FEATURES ========= */

/* ========= OUR WORK ========= */
.work {
  padding-bottom: 94px;
}

.work-list {
  display: flex;
  justify-content: center;
}

.work-item:not(:last-child) {
  padding-right: 30px;
}

.section-title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-dark-color);
}
/* ========= END OUR WORK ========= */

/* ========= TEAM SECTION ========= */
.team {
  background-color: var(--secondary-background-color);

  font-size: 16px;
  letter-spacing: 0.03em;
}

.team-list {
  display: flex;
  /* justify-content: center; */
}

.team-card {
  border-radius: 0px 0px 4px 4px;
  background-color: var(--primary-white);
  box-shadow: var(--card-shadow);
}

.team-card:not(:last-child) {
  margin-right: 30px;
}

.team-about {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.team-name {
  margin-bottom: 10px;
  font-weight: 500;
  line-height: 1.19;
  color: var(--primary-dark-color);
}

.team-position {
  line-height: 0.84;
}
/* ========= END TEAM SECTION ========= */

/* ========= PORTFOLIO ========= */
.btn-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.btn-item:not(:last-child) {
  margin-right: 8px;
}

.portfolio-button {
  padding: 6px 22px;
  border-radius: 4px;
  border-color: transparent;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--primary-dark-color);
  background-color: var(--secondary-background-color);
  cursor: pointer;
}

.portfolio-button:hover,
.portfolio-button:focus,
.portfolio-button.current {
  color: var(--primary-white);
  background-color: var(--primary-accent-color);
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.example {
  margin-top: 30px;
  margin-left: 30px;
}

.example-box {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.project-name {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-dark-color);
}

.project-type {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
/* ========= END PORTFOLIO ========= */

/* ========= FOOTER ========= */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--primary-background-color);
}

.footer-address {
  margin-top: 20px;

  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer-logo-accent {
  color: var(--primary-white);
}

.footer-location {
  margin-bottom: 9px;
  color: var(--primary-white);
}

.footer-link {
  color: var(--secondary-white);
}

.footer-contact:not(:last-child) {
  margin-bottom: 9px;
}

.footer-link:hover,
.footer-link:focus {
  color: var(--primary-white);
}
/* ========= END FOOTER ========= */
